@charset "UTF-8";

/* 

- id em CSS é #
- class em CSS é . (ponto)

*/

body {

    background-color: rgb(176, 226, 195);
    font-family: Arial, Helvetica, sans-serif;
 

}

h1#pagina2 {
    background-color: lawngreen;


}

h1#principal {
    text-align: center;
    background-color: rgb(184, 176, 176);
}
h1 {
    color: rgb(55, 0, 255);
}
h2 {
    color: rgb(255, 0, 0);
    
}

.basico {
    color: green;

}
.intermediario {
    color: yellow;

}
.avancado {
    color: red;

}

p {

    text-align: justify;
}


